<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Kanban Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <div class="container p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="./index.html">Kanban Board</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="./index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./users.html">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./roles.html">Roles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./login.html">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <hr />

    <main class="content">
      <div class="container p-0">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Enter email"
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Password"
                    />
                  </div>
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Check me out</label
                    >
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a href="./registration.html">Register here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
  </body>
</html>
